extends layout 
block content 
  #banner.page-header 
    .row 
      .col-lg-6 
        h1 
          | Mekanbul 
          small &nbsp; Civardaki mekanları keşfet
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='mekan') Starbucks 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 7km
        p.address Garden Centrum AVM
          span.label.label-warning DÜnya Kahveleri 
          | &nbsp;
          span.label.label-warning Kekler
          | &nbsp;
          span.label.label-warning Tatlılar
        
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='mekan') Şehzade Dürüm ve Kebap 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 0.5km
        p.address Bahçievler Isparta
          span.label.label-warning Tavuk dürüm 
          | &nbsp;
          span.label.label-warning Kebaplar

  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='mekan') Tatlıses Çiğköte 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
          span.glyphicon.glyphicon-star-empty 
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 3km
        p.address Moderevler ısparta
          span.label.label-warning Çiğköfte
          | &nbsp;
          span.label.label-warning Midye